.card{
    padding: 16px;
    display: flex;
    gap: 16px;
    .cardImage{
        width: 80px;
        height: 80px;
    }
    @media (max-width:480px) {
        gap: 8px;
        .cardImage{
            width: 60px;
            height: 60px;
        }
    }
}
