body {
	margin: 0;
	font-family: "Lexend Deca", serif;
  	font-optical-sizing: auto;
}
#root{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,strong{
	color: #393939;
}
